div {
    /* height and width */
    height:150px;
    width:500px;
    background-color: lavenderblush;
    /* border-width:4px;
    border-style:solid;
    border-color:steelblue; */

    /* border */

    border:4px solid slateblue;
    border-left:8px double  steelblue;


    /* border radius */
    border-radius: 10px;
    /* border-radius: 50%; */
    /* border-top-right-radius: 20px; */
    /* for cicle we have to equal our height and width and border radius 50% */

    /* padding  */

    padding:6px 8px 0;


    /* margin  */

    margin:10px 5px 20px 20px;


}



button {
    background-color: cornflowerblue;
    height:25px;
    border:2px solid rgb(43, 8, 156) ;
    border-radius: 8px;
    padding:0 20px 0 20px;
    margin-top:50px;
    margin-left:720px;

}
h1 {
    width:400px;
    text-align: center;
    border:2px solid black;
    margin:10px 580px 40px;
    border-radius:25px;
    background-color: forestgreen;
    padding:5px;
}