* {
    font-family:'Courier' ;
}

.card {
    /* height: 200px; */
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    margin:25px;
    border-radius: 7px;
    box-shadow: 3px 3px 10px black;
    transition: box-shadow 0.3s ease-in-out 0s;
}
.card:hover {
    box-shadow: 8px 8px 15px black;
}

img {
    width: 100%;
    border-bottom:2px solid black;
    border-radius: 5px 5px 0 0;
}

img[alt="men"] {
    background-color: cornflowerblue;
}

img[alt="women"] {
    background-color: rgb(239, 58, 139);
}
.desk {
    margin: 10px;
}