
div {
    height: 30px;
    width:45px;
    background-color: cornflowerblue;
    color:hotpink;
    display:inline-block;
    margin-left:20px;
    padding:20px;
    border:2px solid black;
    border-radius: 10px;
}

h3 {
    text-align: center;
    height: 30px;
    width:200px;
    background-color: bisque;
    border: 3px solid black;
    margin-left:70px;
}