h2 {
    text-align: center;
}


#indigo {
    text-align:center;

    /* only when it has space in that direction */
    /* align-self: flex-end; *



    /* flex sizing */

    flex-basis: 100px;

    flex-grow: 4;
    flex-shrink: 4;
    max-width: 200px;
}
#container {
    height: 400px;
    width: 700px;
    border:2px solid black;
    position: absolute;
    top:100px;
    left:200px;
    /* flex property */

    display: flex;


    /* from which direction  it starts  on the main axis and which will the main axis  */
    flex-direction:row-reverse;


    /* where the elements lies in the flex  */
    /* justify-content: center; */
    /* justify-items:flex-start; */

    justify-content: space-evenly;

    /* flex-wrap:wrap; */

    /* align-content: space-evenly; */
    align-content: flex-start;

    /* align-items:flex-end; */

}

#container div {
    height: 100px;
    width:70px;

}