div {
    background-color: darkgreen;
}

p {
    background-color: antiquewhite;
}

form {
    background-color: bisque;
}

button {
    background-color: inherit;
}
input {
    background-color:floralwhite;
}