div {
    height:80px;
    width:900px;
    background-color: aquamarine;
    color:crimson;
    box-shadow: 2px 2px 8px black;
}


@media (width:192px) {
    div {
        background-color: blueviolet;
        color:whitesmoke;
    }
}

@media (max-width:400px) and (min-width:200px) {
    div {
        background-color: #24a824;
        color:darkkhaki;
    }
}

@media (orientation: landscape){
    div {
        background-color: aliceblue;
        color:#000;
    }
}