/* universal selector  */

* {
    font-family: Arial;
}


/* element selector */

h3 ,h1{
    color:#b92b27
}

/* id selector */

#login {
    background-color: aliceblue;
    color: #b92b27;
}
#signup {
    background-color: #b92b27;
    color: aliceblue;
}


/* class selector */


.upvote {
    background-color: darkgreen;
    color:aliceblue;
}



/* decendent selector  */

/* p a {
    color: white;
    background-color:darkslategrey;
  
} */


.mod a {
    color:white;
    background-color: darkmagenta;
}

nav ul li{
    color:hotpink
}
nav ul li a {
    color:indianred;
}


/* adjacent sibiling combinator */

p + h3 {
    text-decoration: #b92b27 underline;

}

.upvote + button {
    background-color: darkslateblue;
    color:cornflowerblue;
}



/* attribute selector  */

input[type="text"] {
    color:crimson;
    background-color: azure;
}

input[type="password"] {
    color: indianred;
    background-color: beige;
}


/* psuedo class */


h3:hover {
    text-decoration: none;
}

.upvote:active {
    color:black;
    background-color: white;
}


input[type="radio"]:checked +label{
    color: #b92b27;
    font-weight: bold;
}

div:nth-of-type(2n) {
    background-color: blanchedalmond;

}