h1 {
    text-align: center;
    font-weight: 100;
    text-decoration: rgb(136, 53, 231) double underline;
    font-family: Arial;
}
h3 {
    text-align:center;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: right;
    font-weight: 600;
    text-decoration: rgb(32, 246, 157) wavy overline;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-weight: 500;
    line-height:2;
    letter-spacing:normal;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: bisque;
    background-color: black;
    font-family: arial;
}