div {
    background-color: rgb(180, 202, 16);
    height:200px;
    width: 200px;
    border: 3px solid black;
    margin:0 auto;
    transition: margin 2s ease-in-out 0.5s;
    transition: 2s ease-in-out 0.1s;
}

div:hover {
    background-color: pink;
    margin-top:300px;
    border-radius: 50%;
}
