div {
    height: 10%;
    width: 33%;
    text-align: center;
    border: 2px solid black;
    margin-top:150px;
}

div:nth-of-type(2n) {
    background-color: aquamarine;
}
div:nth-of-type(3n) {
    background-color: blue;
}
#box1 {
    background-color: blueviolet;
    transform: rotate(45deg);
    transform: rotate(-45deg);
}

#box2 {
    transform:scale(1.5);
    transform:scaleY(1.5);
    transform:scaleX(1.5);
}

#box3 {
    transform:translate(200px,100px);
}

#box4 {
    transform: skew(30deg);
}
#box5 {
    background-color: blueviolet;
    transform:rotate(30deg) translate(400px);
}