div {
    height:100px;
    width: 100px;
    border:2px solid black;
    box-shadow:2px 2px 10px black;
    background-color: blueviolet;
}


.one {
    background-color: aquamarine;
    position: relative;
    top:50px;
    z-index: -2;
    transition: background-color 2s;
    /* so when we z index a element to under any other element so the hover not properly work to the under having less z index  */
}
.two {
    background-color: brown;
    position: relative;
    top:30px;
    z-index: -1;
}

.one:hover {
    background-color: beige;
}